:root {
  --primary-text-color: #212121;
  --second-color: #757575;
  --accent-color: #2196f3;
  --text-white: #ffffff;
  --first-color: #2f303a;
  --third-color: #188ce8;
  --quarter-color: #2f303a;
  --fifth-color: #000000;
  --sixth-color: rgba(255, 255, 255, 0.6);
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--text-white);
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  font-size: 14px;
}
.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}
/*-----------HEADER-----------*/
header {
  background-color: var(--text-white);
}
.header-nav a {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo {
  color: var(--fifth-color);
}
.header-list .link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-size: 14px;
  color: var(--primary-text-color);
}

.header-list .current {
  color: var(--accent-color);
}
.header-list .portfolio {
  color: var(--accent-color);
}
.header-list .link:hover,
.header-list .link:focus {
  color: var(--accent-color);
}
.cont-list .link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
}
.cont-list .link:hover,
.cont-list .link:focus {
  color: var(--accent-color);
}
/*-----------HERO-----------*/
.hero {
  background-color: var(--first-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-white);
}
.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--text-white);
  background-color: var(--accent-color);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--third-color);
}
/*-----------Attributes-----------*/
.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.title-text {
  line-height: 1.71;
  color: var(--second-color);
}
/*-----------Work-----------*/
.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}
/*-----------Command-----------*/
.command-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}
.title-com {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.text-com {
  font-size: 16px;
  line-height: 1.18;
  color: var(--second-color);
}
/*-----------footer-----------*/
footer {
  background-color: var(--quarter-color);
}
.footer-info .footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.logo-f {
  color: var(--text-white);
}
.footer-mail,
.footer-tel,
.address-link {
  font-style: normal;
  line-height: 1.71px;
}
.contact-list {
  list-style-type: none;
}
.address-link,
.link {
  color: var(--text-white);
}
.footer-mail,
.footer-tel {
  color: var(--sixth-color);
}
.address-link:hover,
.address-link:focus,
.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}
.footer-logo {
  color: var(--text-white);
}

/*-----------Portfolio-----------*/
.button-items .btn {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  border: none;
  color: var(--primary-text-color);
}
.button-items .btn:hover,
.button-items .btn:focus,
.button-items .btn:active {
  color: var(--text-white);
  background-color: var(--accent-color);
}
.progects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.progects-text {
  font-size: 16px;
  line-height: 1.9;
  color: var(--second-color);
}
